# 服务端口
PORT=3000

# PostgreSQL 连接串（本机 PostgreSQL，账号 root / 密码 123456）
DATABASE_URL="postgresql://用户名:密码@localhost:5432/hei_blog?schema=public"

# MinIO 对象存储
MINIO_ENDPOINT=localhost
MINIO_PORT=9010
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=hei-blog
MINIO_SECRET_KEY=hei-blog123
MINIO_BUCKET=hei-blog
